# Node
node_modules/
dist/
build/
.next/
out/

# Python
__pycache__/
*.pyc
.env
venv/

# CMake / C++
build/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*.o
*.out
*.exe

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Env files
.env.local
.env.development
.env.production